html, body {
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: "Times New Roman", Times, serif;
    color: #000;
}

.cim h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px;
}

.cim h2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
}

.cim h3{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

.tartalom {
    font-size: 20px;
    text-align: center;
    margin-bottom: 35px;
}

.tartalom ul {
    list-style: none;
    padding: 0;       
    margin: 0;
}

.konzulens-info {
    font-size: 15px;
    text-align: center;
    font-weight: 200;
    margin-top: 70px;
    margin-bottom: 35px;
}

.konzulens-info h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 80px;
}

.vissza-link {
    color: black;
    text-decoration: underline;
    font-size: 16px;
    display: inline-block;
    margin: 20px 40px;
}

.oldal-cim {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.csoport-szekcio {
    width: 85%;
    margin: 40px auto;
    font-family: "Times New Roman", Times, serif;
}

.csoport-felirat {
    font-size: 20px;
    margin-bottom: 8px;
    text-align: left;

}

.csoport-tabla {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #777;
}

.csoport-tabla td {
    border: 1px solid #777;
    padding: 4px 8px;
    font-size: 14px;
    text-align: left;
}

.terv-lista {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    margin-left: 60px;       
    padding-left: 20px;
}

.terv-lista > li {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 16px;   
    margin-top: 16px;  
    line-height: 1.4;
}

.terv-lista ul {
    list-style: none;
    font-weight: normal;
    padding-left: 0;       
    margin-top: 8px;
    line-height: 1.6;
}

.terv-lista p {
    font-weight: normal;
    text-align: justify;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 80px;
    line-height: 1.6;

}

.munkanaplo-tabla {
    width: 95%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 2px;
    border: 1px solid #777;
}

.munkanaplo-tabla th, 
.munkanaplo-tabla td {
    border: 1px solid #777;
    padding: 8px;
}

.munkanaplo-tabla th {
    text-align: center;
}